<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav>
		<a href="/users/logout">Logout</a>
	</nav>


	<h2>Welcome to the home page</h2>

	<% if (message) {%>
		<p style="background-color: pink"><%=message%></p>
	<%}%>

	<p>Hello, <%=username%></p>
	<p>you logged in: <%=loginDate%></p>


</body>
</html>