<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<% if (message) { %>
		<p style="background-color: pink"><%=message%></p>
	<%}%>


	<h3>Welcome to the site. Please log in to continue..</h3>

	<form action="/users/login" method="POST">
		<input type="text" name="username" placeholder="Username" />
		<input type="password" name="password" placeholder="Password" />
		<button>Login</button>
	</form>

	<p><small>Need to create an account? <a href="/users/register">Click here</a></small></p>

</body>
</html>